@{
    ViewBag.Title = "Basket";
}

<div class="wrapper">
    <div class="basket_head"></div>

    <div class="center_cont center_cont_marg">

        <div class="basket_cont fl">
            <h3>Корзина Атриум</h3>
            <div class="message">
                <span class="ico_info fl"></span>
                <p class="title">Добавьте еще несколько блюд на <span>79.00</span> грн до минимального заказа.</p>
                <p>Ресторан принимает заказы на сумму от 100 грн.</p>
            </div>
            <div class="separator"></div>

            <div class="basket_item">
                <div class="basket_img fl">
                    <img src="~/Content/img/dishes_mini1.jpg" />
                </div>
                <div class=" item fl">
                    <p class="name">Миндальный торт</p>
                    <p class="info">(120/40г)</p>
                </div>
                <div class="item fl">
                    <input class="fl" type="number" min="1" />
                </div>
                <div class="item fl">
                    <p class="price">116 грн.</p>
                </div>
                <div class="delete">
                    <a href="" class="ico_delete"></a>
                </div>

                <div class="clear"></div>
                <div class="separator"></div>
            </div>

            <div class="basket_item">
                <div class="basket_img fl">
                    <img src="~/Content/img/dishes_mini1.jpg" />
                </div>
                <div class=" item fl">
                    <p class="name">Миндальный торт</p>
                    <p class="info">(120/40г)</p>
                </div>
                <div class="item fl">
                    <input class="fl" type="number" min="1" />
                </div>
                <div class="item fl">
                    <p class="price">116 грн.</p>
                </div>
                <div class="delete">
                    <a href="" class="ico_delete"></a>
                </div>

                <div class="clear"></div>
                <div class="separator"></div>
            </div>
        </div>

        <div class="basket_result fl">
            <h4>Стоимость блюд:<span>200 грн.</span></h4>
            <p>Стоимость доставки: <span>Бесплатная</span></p>
            <div class="discount_block">
                <span class="discount_red fl"></span>
                <p class="title">15%</p>
                <p>Бонус от заведения</p>
            </div>
            <p class="title">К оплате:<span>185 грн.</span></p>
            <a class="button">Оформить заказ</a>
        </div>
        <div class="clear"></div>
    </div>
</div>