@{
    ViewBag.Title = "Dishes";
}

<div class="wrapper">
    <div class="dishes_head"></div>

    <div class="center_cont center_cont_marg">
        <div class="fl">
            <h3>Меню</h3>

            <ul class="menu_filter">
                <li>
                    <ul class="checkbox fl">
                        <li>
                            <input id="cfirst" type="checkbox" name="first" hidden />
                            <label for="cfirst"></label>
                        </li>
                    </ul>
                    Бургеры
                </li>
                <li>
                    <ul class="checkbox fl">
                        <li>
                            <input id="cfirst2" type="checkbox" name="first" hidden />
                            <label for="cfirst2"></label>
                        </li>
                    </ul>
                    Пицца
                </li>
                <li>
                    <ul class="checkbox fl">
                        <li>
                            <input id="cfirst3" type="checkbox" name="first" hidden />
                            <label for="cfirst3"></label>
                        </li>
                    </ul>
                    Суши
                </li>
                <li>
                    <ul class="checkbox fl">
                        <li>
                            <input id="cfirst4" type="checkbox" name="first" hidden />
                            <label for="cfirst4"></label>
                        </li>
                    </ul>
                    Бизнес-ланч
                </li>
                <li>
                    <ul class="checkbox fl">
                        <li>
                            <input id="cfirst5" type="checkbox" name="first" hidden />
                            <label for="cfirst5"></label>
                        </li>
                    </ul>
                    Десерты
                </li>
                <li>
                    <ul class="checkbox fl">
                        <li>
                            <input id="cfirst6" type="checkbox" name="first" hidden />
                            <label for="cfirst6"></label>
                        </li>
                    </ul>
                    Напитки
                </li>
            </ul>

        </div>

        <div class="fl dishes_box">
            <h3>Ресторан Атриум</h3>
            <div class="separator"></div>

            <div>
                <div class="dishes_block fl">
                    <div class="dishes_img">
                        <img src="~/Content/img/dishes1.jpg" />
                        <div class="dishes_blur">
                            <div>
                                <p>Хрустящие миндальные коржи, пропитанные сливочным кремом с сыром "Маскарпоне" и усыпанные шоколадной крошкой.</p>
                            </div>
                        </div>
                    </div>
                    <div class="dishes_name">
                        <p class="name">Миндальный торт</p>
                        <p>(120/40г)</p>
                    </div>

                    <div class="dishes_footer">
                        <p class="fl">58 грн.</p>
                        <a class="fr button">В корзину</a>
                    </div>

                </div>

                <div class="dishes_block fl">
                    <div class="dishes_img">
                        <img src="~/Content/img/dishes1.jpg" />
                        <div class="dishes_blur">
                            <div>
                                <p>Хрустящие миндальные коржи, пропитанные сливочным кремом с сыром "Маскарпоне" и усыпанные шоколадной крошкой.</p>
                            </div>
                        </div>
                    </div>
                    <div class="dishes_name">
                        <p class="name">Миндальный торт</p>
                        <p>(120/40г)</p>
                    </div>

                    <div class="dishes_footer">
                        <p class="fl">58 грн.</p>
                        <a class="fr button">В корзину</a>
                    </div>

                </div>

                <div class="dishes_block fl">
                    <div class="dishes_img">
                        <img src="~/Content/img/dishes1.jpg" />
                        <div class="dishes_blur">
                            <div>
                                <p>Хрустящие миндальные коржи, пропитанные сливочным кремом с сыром "Маскарпоне" и усыпанные шоколадной крошкой.</p>
                            </div>
                        </div>
                    </div>
                    <div class="dishes_name">
                        <p class="name">Миндальный торт</p>
                        <p>(120/40г)</p>
                    </div>

                    <div class="dishes_footer">
                        <p class="fl">58 грн.</p>
                        <a class="fr button">В корзину</a>
                    </div>

                </div>

            </div>
            <div class="clear"></div>

            <div>
                <div class="dishes_block fl">
                    <div class="dishes_img">
                        <img src="~/Content/img/dishes1.jpg" />
                        <div class="dishes_blur">
                            <div>
                                <p>Хрустящие миндальные коржи, пропитанные сливочным кремом с сыром "Маскарпоне" и усыпанные шоколадной крошкой.</p>
                            </div>
                        </div>
                    </div>
                    <div class="dishes_name">
                        <p class="name">Миндальный торт</p>
                        <p>(120/40г)</p>
                    </div>

                    <div class="dishes_footer">
                        <p class="fl">58 грн.</p>
                        <a class="fr button">В корзину</a>
                    </div>

                </div>

                <div class="dishes_block fl">
                    <div class="dishes_img">
                        <img src="~/Content/img/dishes1.jpg" />
                        <div class="dishes_blur">
                            <div>
                                <p>Хрустящие миндальные коржи, пропитанные сливочным кремом с сыром "Маскарпоне" и усыпанные шоколадной крошкой.</p>
                            </div>
                        </div>
                    </div>
                    <div class="dishes_name">
                        <p class="name">Миндальный торт</p>
                        <p>(120/40г)</p>
                    </div>

                    <div class="dishes_footer">
                        <p class="fl">58 грн.</p>
                        <a class="fr button">В корзину</a>
                    </div>

                </div>

                <div class="dishes_block fl">
                    <div class="dishes_img">
                        <img src="~/Content/img/dishes1.jpg" />
                        <div class="dishes_blur">
                            <div>
                                <p>Хрустящие миндальные коржи, пропитанные сливочным кремом с сыром "Маскарпоне" и усыпанные шоколадной крошкой.</p>
                            </div>
                        </div>
                    </div>
                    <div class="dishes_name">
                        <p class="name">Миндальный торт</p>
                        <p>(120/40г)</p>
                    </div>

                    <div class="dishes_footer">
                        <p class="fl">58 грн.</p>
                        <a class="fr button">В корзину</a>
                    </div>

                </div>

            </div>
            <div class="clear"></div>

            <div class="separator"></div>
        </div>

        <div class="clear"></div>
    </div>

</div>
