@{
    ViewBag.Title = "News";
}

<div class="wrapper">
    <div class="dishes_head"></div>
    <div class="center_cont center_cont_marg">

       <h3>Обзор новостей</h3>
        <div class="separator"></div>

        <div class="news_block">
            <div class="news_img fl">
                <img src="~/Content/img/news_3_mini.jpg" />
            </div>
            <div class="news_preview">
                <a href="" class="title">Характер женщины узнать легко - достаточно заглянуть в ее тарелку!</a>
                <p class="date">23 апреля 2015 </p>
                <p class="info">До сих пор не знаете характер своей девушки? Загляните в ее тарелку — раскроете все карты таинственной женской души.</p>
            </div>
            <div class="clear"></div>
            <div class="separator"></div>
        </div>


        <div class="news_block">
            <div class="news_img fl">
                <img src="~/Content/img/news_3_mini.jpg" />
            </div>
            <div class="news_preview">
                <a href="" class="title">Характер женщины узнать легко - достаточно заглянуть в ее тарелку!</a>
                <p class="date">23 апреля 2015 </p>
                <p class="info">До сих пор не знаете характер своей девушки? Загляните в ее тарелку — раскроете все карты таинственной женской души.</p>
            </div>
            <div class="clear"></div>
            <div class="separator"></div>
        </div>

    </div>
    </div>
