@{
    ViewBag.Title = "News";
}

<div class="wrapper">
    <div class="dishes_head"></div>
    <div class="center_cont center_cont_marg">

       <h3>Обзор новостей</h3>
        <div class="separator"></div>

    </div>
    </div>
