@{
    ViewBag.Title = "OneNews";
}

<div class="wrapper">
    <div class="restaurants_head"></div>
    <div class="center_cont center_cont_marg">
        <div class="one_news">
            <h3>Всемирный день моря</h3>
            <div class="separator"></div>
            <div class="news_content">
                <div class="one_news_img fl">
                    <img src="~/Content/img/one_news1.jpg" />
                </div>
                <p class="preview">Обожаете морскую рыбу и ресторанные блюда, приготовленные на основе морепродуктов? В честь Всемирного Дня Моря приглашаем заказать любимую морскую еду из лучших ресторанов вашего города с доставкой на дом!</p>
                <p class="text_news">Сочный и румяный стейк лосося, аппетитные тигровые креветки, мидии под сырным соусом, вареное крабовое мясо, осьминожки на гриле по-каталонски… Это божественно вкусно! <br /><br /> Тысячи лет колыбели всех морских обитателей – моря и океаны – кормят человечество невероятно полезными и вкусными морепродуктами, ничего не требуя взамен. Так, сегодня, в мире нет ни одной кухни, в которой не используют рыбу и морепродукты. Посмотрите на японцев, европейцев и американцев. Каждый день в их рационе обязательно присутствует рыба -  фундамент отличного самочувствия, нескончаемой энергии и хорошего настроения.</p>
            </div>
            <div class="clear"></div>
            <div class="separator"></div>
        </div>
    </div>
</div>