@{
    ViewBag.Title = "Order";
}

<div class="wrapper">
    <div class="order_head"></div>
    <div class="center_cont center_cont_marg">
        <h3>Оформление заказа <span>Атриум</span></h3>
        <div class="separator"></div>

        <div class="order_form">
            <form>
                <div class="fl">
                    <div class="item">
                        <p>Телефон</p>
                        <input />
                    </div>
                    
                    <div class="item">
                        <p>Доставка</p>
                        <input placeholder="ДРОПДАУН" />
                    </div>

                    <div class="item">
                        <p>Улица</p>
                        <input />
                    </div>

                    <div class="item small">
                        <div class="fl">
                            <p>№ Дома</p>
                            <input />
                        </div>
                        <div class="fl">
                            <p>Корпус</p>
                            <input />
                        </div>
                        <div class="fl">
                            <p>Кв./Офис</p>
                            <input />
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="item">
                        <p>Дата</p>
                        <input />
                    </div>

                    <div class="item">
                        <p>Время</p>
                        <input />
                    </div>

                </div>

                <div class="right_form fl">
                    <div class="item">
                        <p>Платежная система</p>
                        <input placeholder="ДРОПДАУН"/>
                        <p>После подтверждения заказа Вы перейдете на сайт платежной системы, для оплаты заказа.</p>
                    </div>

                    <div class="item">
                        <p class="title">Стоимость блюд: <span>200 грн.</span></p>
                        <p>Стоимость доставки: <span>Бесплатная</span></p>
                    </div>
                    <div class="discount_block">
                        <span class="discount_red fl"></span>
                        <p class="title">15%</p>
                        <p>Бонус от заведения</p>
                    </div>

                    <p class="result">К оплате: <span>185 грн.</span></p>

                    <div class="button_block">
                        <a class="button">Заказать</a>
                    </div>

                </div>
                <div class="clear"></div>
            </form>
        </div>

    </div>
</div>
