@{
    ViewBag.Title = "Restaurants";
}

<div class="wrapper">

    <div class="restaurants_head"></div>

    <div class="center_cont center_cont_marg">
        <div class="fl">
            <h3>Категории</h3>

            <ul class="menu_filter">
                <li>
                    <ul class="checkbox fl">
                        <li>
                            <input id="cfirst" type="checkbox" name="first" hidden />
                            <label for="cfirst"></label>
                        </li>
                    </ul>
                    Бургеры
                </li>
                <li>
                    <ul class="checkbox fl">
                        <li>
                            <input id="cfirst2" type="checkbox" name="first" hidden />
                            <label for="cfirst2"></label>
                        </li>
                    </ul>
                    Пицца
                </li>
                <li>
                    <ul class="checkbox fl">
                        <li>
                            <input id="cfirst3" type="checkbox" name="first" hidden />
                            <label for="cfirst3"></label>
                        </li>
                    </ul>
                    Суши
                </li>
                <li>
                    <ul class="checkbox fl">
                        <li>
                            <input id="cfirst4" type="checkbox" name="first" hidden />
                            <label for="cfirst4"></label>
                        </li>
                    </ul>
                    Бизнес-ланч
                </li>
                <li>
                    <ul class="checkbox fl">
                        <li>
                            <input id="cfirst5" type="checkbox" name="first" hidden />
                            <label for="cfirst5"></label>
                        </li>
                    </ul>
                    Десерты
                </li>
                <li>
                    <ul class="checkbox fl">
                        <li>
                            <input id="cfirst6" type="checkbox" name="first" hidden />
                            <label for="cfirst6"></label>
                        </li>
                    </ul>
                    Напитки
                </li>
            </ul>

            <h3>Класс ресторана</h3>

            <ul class="menu_filter">
                <li>
                    <ul class="checkbox fl">
                        <li>
                            <input id="cfirst" type="checkbox" name="first" hidden />
                            <label for="cfirst"></label>
                        </li>
                    </ul>
                    Эконом
                </li>
                <li>
                    <ul class="checkbox fl">
                        <li>
                            <input id="cfirst2" type="checkbox" name="first" hidden />
                            <label for="cfirst2"></label>
                        </li>
                    </ul>
                    Средний
                </li>
                <li>
                    <ul class="checkbox fl">
                        <li>
                            <input id="cfirst3" type="checkbox" name="first" hidden />
                            <label for="cfirst3"></label>
                        </li>
                    </ul>
                    Премиум
                </li>
            </ul>
        </div>

        <div class="fl restaurants_box">
            <h3>Рестораны Днепропетровска</h3>

            <div class="restaurants_block">
                <div class="separator restaurants_separator"></div>
                <div class="restaurants_img fl">
                    <img src="~/Content/img/resr_logo1.jpg" />
                </div>
                <div class="restaurants_title">
                    <p class="name">Атриум</p>
                    <p class="info">Пицца, Суши, Десерт, Бизнес-ланч</p>
                </div>

                <div class="restaurants_info">
                    <div class="fl item">
                        <p class="title">100 грн.</p>
                        <p>мин. заказ</p>
                    </div>
                    <div class="fl item">
                        <p class="title">Доставка</p>
                        <p>Бесплатная</p>
                    </div>
                    <div class="fl item">
                        <span class="discount fl"></span>
                        <p class="title">15%</p>
                        <p>Бонус от заведения</p>
                    </div>
                </div>
                <div class="restaurants_button">
                    <a class="button">Перейти к меню</a>
                </div>
            </div>

            <div class="restaurants_block">
                <div class="separator restaurants_separator"></div>
                <div class="restaurants_img fl">
                    <img src="~/Content/img/resr_logo1.jpg" />
                </div>
                <div class="restaurants_title">
                    <p class="name">Атриум</p>
                    <p class="info">Пицца, Суши, Десерт, Бизнес-ланч</p>
                </div>

                <div class="restaurants_info">
                    <div class="fl item">
                        <p class="title">100 грн.</p>
                        <p>мин. заказ</p>
                    </div>
                    <div class="fl item">
                        <p class="title">Доставка</p>
                        <p>Бесплатная</p>
                    </div>
                    <div class="fl item">
                        <span class="discount fl"></span>
                        <p class="title">15%</p>
                        <p>Бонус от заведения</p>
                    </div>
                </div>
                <div class="restaurants_button">
                    <a class="button">Перейти к меню</a>
                </div>
            </div>


        </div>

        <div class="clear"></div>
    </div>

</div>