@{
    ViewBag.Title = "SpecialOffer";
}
<div class="wrapper">
    <div class="specialoffer_head"></div>
    <div class="center_cont center_cont_marg">
        <h3>Все предложения</h3>
        <div class="separator"></div>

        <div class="specof_row">
            <div class="item fl">
                <div class="specof_img fl">
                    <img src="~/Content/img/spec_ofer1.jpg" />
                </div>
                <div class="specof_info">
                    <p class="title">Сидр в подарок</p>
                    <p class="info">Заказывайте 2 Strauss Burger и получайте в подарок 1л клюквенного сидра.</p>
                    <p class="from">от Атриум</p>
                </div>
                <div class="button_block">
                    <a class="button">Заказать</a>
                </div>
            </div>


            <div class="item fl">
                <div class="specof_img fl">
                    <img src="~/Content/img/spec_ofer1.jpg" />
                </div>
                <div class="specof_info">
                    <p class="title">Сидр в подарок</p>
                    <p class="info">Заказывайте 2 Strauss Burger и получайте в подарок 1л клюквенного сидра.</p>
                    <p class="from">от Атриум</p>
                </div>
                <div class="button_block">
                    <a class="button">Заказать</a>
                </div>
            </div>

            <div class="clear"></div>
            <div class="separator"></div>
        </div>


        <div class="specof_row">
            <div class="item fl">
                <div class="specof_img fl">
                    <img src="~/Content/img/spec_ofer1.jpg" />
                </div>
                <div class="specof_info">
                    <p class="title">Сидр в подарок</p>
                    <p class="info">Заказывайте 2 Strauss Burger и получайте в подарок 1л клюквенного сидра.</p>
                    <p class="from">от Атриум</p>
                </div>
                <div class="button_block">
                    <a class="button">Заказать</a>
                </div>
            </div>


            <div class="item fl">
                <div class="specof_img fl">
                    <img src="~/Content/img/spec_ofer1.jpg" />
                </div>
                <div class="specof_info">
                    <p class="title">Сидр в подарок</p>
                    <p class="info">Заказывайте 2 Strauss Burger и получайте в подарок 1л клюквенного сидра.</p>
                    <p class="from">от Атриум</p>
                </div>
                <div class="button_block">
                    <a class="button">Заказать</a>
                </div>
            </div>

            <div class="clear"></div>
            <div class="separator"></div>
        </div>

    </div>
</div>