@model restMVC4.Models.CategoryModel

@{
    ViewBag.Title = "AddNewCategory";
}

<div class="wrapper">
    <div class="basket_head"></div>
    <div class="center_cont center_cont_marg">
        <h2>AddNewCategory</h2>
        @using (Html.BeginForm())
        {
            <div>
                <div><p>title</p></div>
                <div>@Html.TextBoxFor(x => x.Title)</div>
            </div>
            <input type="submit" />
        }

    </div>
</div>
