@{
    ViewBag.Title = "Administrate";
}

<div class="dishes_head"></div>
<h2>Administrate</h2>

<div>
    <div><a href="@Url.Action("ManageRest", "Administrator")">Управление ресторанами</a></div>
    <div><a href="@Url.Action("ManageDish", "Administrator")">Управление блюдами</a></div>
</div>