@{
    ViewBag.Title = "Administrate";
}

<div class="wrapper">
    <div class="basket_head"></div>
    <div class="center_cont center_cont_marg">

        <h2>Administrate</h2>

        <div>
            <div><a href="@Url.Action("ManageRest", "Administrator")">Управление ресторанами</a></div>
            <div><a href="@Url.Action("ManageDish", "Administrator")">Управление блюдами</a></div>
            <div><a href="@Url.Action("ManageCategory", "Administrator")">Управление категориями</a></div>
        </div>

        </div>
    </div>
        
