@model List<restMVC4.Models.CategoryModel>
@{
    ViewBag.Title = "ManageCategory";
}

<div class="wrapper">
    <div class="basket_head"></div>
    <div class="center_cont center_cont_marg">
        <div>
            <table>
                <tr>
                    <td>id</td>
                    <td>title</td>
                    <td>edit</td>
                    <td>delete</td>
                </tr>
                @foreach (var r in Model)
                {
                    <tr>
                        <td>
                            @r.Id
                        </td>
                        <td>
                            @r.Title
                        </td>
                        <td>
                            <a href="">edit</a>
                        </td>
                        <td>
                            <a href="">delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div>
            <a href="@Url.Action("AddNewCategory", "Administrator")">add new</a>
        </div>

        </div>
    </div>


        